<?xml version="1.0" ?>

<launch>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find li_pkg)/configs
          -configuration_basename gene_3D_1_Ouster.lua"
      output="screen">
    <!-- <remap from="/odom" to="/transformed_odom"/> -->
    <remap from="/L01/points2" to="/L01/os1_cloud_node/points"/>
    <remap from="/L01/imu" to="/L01/imu_raw"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.2" />

</launch>
